* {
    -fx-font-family: 'ChronicaPro-Bold';
    -fx-text-fill: rgb(71, 71, 71);

}

.scroll-pane > .viewport{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.combo-box-base{
    -fx-background-radius: 9;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.combo-box-base:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 10, 0, 0, 0);
}

.debug{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 7;
}

.button{
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-background-color: #f7f9ff;
    -fx-font-size: 15;

    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 10, 0, 0, 0);
}

.button:hover{
    -fx-background-color: #edf1ff;
}

.button:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 0);
}

